<div id="login-container">

	<div id="login-header">
		<h3>Sinatra Uses the HumanAPI [ / ]</h3>
	</div> <!-- /login-header -->
	<div id="login-content" class="clearfix">
	<h4>Hello Quantified Human</h4>
	<p style="font-size:15px;">We use <a href="http://humanapi.co">human/api</a> to securely stream health data for your quantified self. It's a really simple process which is totally secure. Just click below to get started.</p>
	<br/>

  <center><span class="humanAPIAuthButton" data-target="auth/humanapi" data-window-height="700"></span><script src="vendor/humanAuth.min.js"></script></center>

</div>